@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --background-color: #ffffff;
  --bs-primary-rgb: #12296c;
  --bs-accent-rgb: #ff5252; /* Accent color for button hover effects */
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: var(--background-color);
  color: var(--bs-primary-rgb);
  font-weight: 700;
  font-size: 1.2rem;
  background-image: url(../img/noise-bg.png);
  animation: fade-in 1s ease-in-out; /* Smooth fade-in animation */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', cursive;
  font-weight: 700;
}

.container-fluid-custom {
  max-width: 1600px;
}

.btn {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out; /* Smooth transitions for hover effects */
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--bs-primary-rgb);
  --bs-btn-border-color: var(--bs-primary-rgb);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-accent-rgb); /* Hover background color */
  --bs-btn-hover-border-color: var(--bs-accent-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-rgb);
  --bs-btn-active-border-color: var(--bs-primary-rgb);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--bs-primary-rgb);
  --bs-btn-disabled-border-color: var(--bs-primary-rgb);
}

.btn-primary:hover {
  transform: scale(1.05); /* Smooth scaling on hover */
}

.btn-outline-primary {
  --bs-btn-color: var(--bs-primary-rgb);
  --bs-btn-border-color: var(--bs-primary-rgb);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--bs-accent-rgb);
  --bs-btn-hover-border-color: var(--bs-accent-rgb);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--bs-primary-rgb);
  --bs-btn-active-border-color: var(--bs-primary-rgb);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary-rgb);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary-rgb);
}

.btn-outline-primary:hover {
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.home-title::before, .home-title::after {
  animation: none; /* Remove animations from page elements */
}
